   <!-- 活動紀錄 -->
   <div class="pt-lg-8 pt-5">
    <table class="table table-dark table-hover table-bordered border-gray-600">
      <thead class="text-center fs-4 ">
        <tr>
          <th scope="col" class="text-primary-1000">活動名稱</th>
          <th scope="col" class="text-primary-1000">活動日期</th>
          <th scope="col" class="text-primary-1000">狀態</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>卡斯柏創業分享會</td>
          <td>2024年9月15日</td>
          <td class="text-danger">已申請參加</td>
        </tr>
        <tr>
          <td>創新資本對接會 - 投資者與創業者的完美邂逅</td>
          <td>2023年10月20日</td>
          <td class="text-gray-400">活動已過期</td>
        </tr>
        <tr>
          <td>創業夢想會 - 創業者的聯誼交流</td>
          <td>2023年1月28日</td>
          <td class="text-gray-400">活動已過期</td>
        </tr>
      </tbody>
    </table>
  </div>