<div class="pt-8">
  <table class="table table-dark table-hover table-bordered border-gray-600">
    <thead class="text-center fs-4">
      <tr>
        <th class="text-primary-600" scope="col">創業項目</th>
        <th class="text-primary-600" scope="col">評價內容</th>
        <th class="text-primary-600" scope="col">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>
              <ul class="list-unstyled">
                <li class="text-white fs-4">林媽媽中式餐館</li>
                <li class="text-white">公司成立狀態：未設立</li>
                <li class="text-white">產業分類：餐飲</li>
                <li class="text-white">規模：10人以下</li>
                <li class="text-white">資本額：3,000,000</li>
                <li class="text-white">募資金額：50,000,000</li>
              </ul>
            </td>
            <td>
                林媽媽中式餐館專注於提供多樣化和高品質的中國美食,<br>
                擁有經驗豐富的廚師團隊和強調可持續發展的理念,<br>
                這些都是其主要優勢。然而,在競爭激烈的市場中,<br>
                餐館需要有效的市場定位和品牌建設來脫穎而出。<br>
                此外,食材成本波動可能會影響其利潤。<br>
                總體而言,這個項目具備良好的成長機會,<br>
                但需要強化市場策略和成本控制來應對潛在的挑戰。	</td>
            <td><button class="btn btn-outline-primary-600 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal-reply-Projects" role="button">回覆</button>
            </td>
        </tr>
    </tbody>
  </table>

</div>

 <!-- modal 回覆 -->

<div class="modal fade" id="exampleModal-reply-Projects" tabindex="-1" aria-labelledby="exampleModalToggleLabel-Projects" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-gray-1000">
          <div class="modal-header border-0">
            <h5 class="modal-title text-primary-600" id="exampleModalToggleLabel-Projects">回覆內容</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          <div class="modal-body text-center">
            <label for="project-replycontent" class="form-label text-white fs-5"></label>
              <textarea id="project-replycontent" rows="4"  class="w-100 bg-transparent text-white inputField text-white"></textarea>
              <div class="modal-footer border-0 d-flex justify-content-between">
                  <button type="button" class="btn btn-lg btn-gray-600 fw-bolder" id="clearButton3">清除</button>
                  <button class="btn btn-lg btn-primary-600 fw-bolder" role="button" >送出</button>
              </div>
          </div>
        </div>
  </div>
</div>


<script>
  // 清除文字
  document.getElementById('clearButton3')?.addEventListener('click', function() {
      document.querySelectorAll('.inputField').forEach(function(input) {
          input.value = ''; 
      });
  });
  </script>

