
<form class="my-8" id="passwordForm">
    <div class="mb-3 row">
        <label for="currentPassword" class="col-lg-2 col-form-label text-white">輸入舊密碼</label>
        <div class="col-lg-9">
            <input type="password" class="form-control" id="currentPassword" value="******" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="newPassword" class="col-lg-2 col-form-label text-white">輸入新密碼</label>
        <div class="col-lg-9">
            <input type="password" class="form-control" id="newPassword"  value="******" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="confirmPassword" class="col-lg-2 col-form-label text-white">確認新密碼</label>
        <div class="col-lg-9">
            <input type="password" class="form-control" id="confirmPassword" value="******" required>
        </div>
    </div>
    <div class="text-danger" id="errorMessage" style="display: none;">新密碼與確認密碼不匹配</div>
</form>

<div class="d-flex justify-content-around pt-8">
    <button id="cancelUpload1" type="button" class="btn btn-lg btn-outline-danger">
        <i class="bi bi-x-circle"></i> 取消
    </button>
    <button class="btn btn-lg btn-outline-primary-600 fw-bolder" data-bs-toggle="modal" data-bs-target="#password-modal">
        <i class="bi bi-save"></i> 儲存變更
    </button>
</div>

  <!-- modal 儲存變更 -->
  <div class="modal fade" id="password-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-gray-1000">
            <div class="modal-header border-0">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body text-center text-primary-600 fs-3 fw-bold">
               儲存成功
            </div>
            <div class="border-0 text-center mt-15 mb-14">
                <button type="button" class="btn btn-lg btn-primary-600 fw-bolder  px-9" data-bs-dismiss="modal" aria-label="Close">確認</button>
            </div>
          </div>
    </div>
</div>
