<!-- 申請刪除帳號 -->
          <div class="pt-8 d-flex justify-content-between">
          <p class="fs-3 fw-bolder text-danger">申請刪除帳號</p>
          <button class="btn btn-lg btn-outline-primary-600 ">申請</button>
          </div>
