
          <!-- 目前可用點數 -->
          <div class="row mt-8">
            <div class="row mb-3">
              <label for="points" class="col-md-3 col-form-label text-white fs-4">目前可用點數:</label>
              <div class="col-md-5">
                  <input type="text" class="form-control text-center fs-4" id="points" value="32點" readonly>
              </div>
          
              <div class="col-md-4 text-md-end mt-md-0 mt-3">
                  <button onclick="window.location.href='index.html'" class="btn btn-lg btn-outline-primary-600 fw-bolder">
                      <i class="bi bi-cash"></i> 前往儲值
                  </button>
              </div>
          </div>
            
            <div class="pt-8">
              <h4 class="text-white fw-bolder pb-2">點數紀錄</h4>
              <table class="table table-dark table-hover table-bordered border-gray-600">
                <thead class="text-center fs-4 ">
                  <tr>
                    <th scope="col" class="text-primary-1000">時間</th>
                    <th scope="col" class="text-primary-1000">購買點數</th>
                    <th scope="col" class="text-primary-1000">花費金額</th>
                    <th scope="col" class="text-primary-1000">已使用點數</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>2024/09/22</td>
                    <td></td>
                    <td></td>
                    <td>46</td>
                  </tr>
                  <tr>
                    <td>2024/09/08</td>
                    <td></td>
                    <td></td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <td>2024/08/22</td>
                    <td>100</td>
                    <td>399</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
