 <!-- 站內消息 -->
 <div class="pt-lg-8 pt-5">
  <div class="card mb-3 border-0">
      <div class="card-header text-white bg-primary-600 d-flex justify-content-between align-items-center">
        <span class="text-gray-1000 fw-bold">維護更新</span>
        <span class="text-gray-1000 fw-bold">5 分鐘前</span>
      </div>
      <div class="card-body bg-gray-800">
        <h5 class="card-title text-danger">系統更新通知</h5>
        <p class="card-text">我們的系統已經升級，請重新登入以應用最新的功能。</p>
      </div>
    </div>
</div>