<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container d-flex justify-content-center">
        <!-- logo -->
         <div class="d-flex align-items-center me-auto">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/創夢工坊-logo.png" alt="創夢工坊" style="width: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
         </div>
      
      <!-- nav -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">找創業項目</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">找投資人</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">付費方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">討論區</a>
          </li>
        </ul>
      </div>

      <!-- login -->
       <div class="d-flex">
        <a class="me-2" href="#">註冊登入</a>
        <i class="bi bi-person-circle"></i>
       </div>
    </div>
  </nav>