<div class="py-10">
<div class="d-flex border-bottom border-gray-600 ms-lg-3">
    <img src="/assets/images/留言頭像1.png" alt="曹穎惠" class="rounded-circle me-2" style="width: 40px; height: 40px;">
    <div>
        <p class="fs-5 fw-bold pb-2">曹穎惠</p>
        <p class="fs-4 message-board">想創就創，反正工作隨時都有</p>
        <div class="d-flex align-items-center fs-5 mb-7">
            <p class="fw-bold pe-1">B1</p>
            <time datetime="2024-09-20T22:20" class="text-gray-400">2024/09/20 22:20</time>
            <span class="text-gray-400 px-1">•</span>
            <a href="#" class="text-primary-600" data-bs-toggle="modal" data-bs-target="#exampleModal-reply-Investor" role="button">回覆</a>
        </div>
    </div>
</div> 
</div>

 <!-- modal 回覆 -->

 <div class="modal fade" id="exampleModal-reply-Investor" tabindex="-1" aria-labelledby="exampleModalToggleLabel-Investor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-gray-1000">
            <div class="modal-header border-0">
              <h5 class="modal-title text-primary-600" id="exampleModalToggleLabel-Investor">回覆內容</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body text-center">
              <label for="Investor-replycontent" class="form-label text-white fs-5"></label>
                <textarea id="Investor-replycontent" rows="4"  class="w-100 bg-transparent text-white inputField text-white"></textarea>
                <div class="modal-footer border-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-gray-600 fw-bolder" id="clearButton4">清除</button>
                    <button class="btn btn-lg btn-primary-600 fw-bolder" role="button" data-bs-dismiss="modal" >送出</button>
                </div>
            </div>
          </div>
    </div>
  </div>

  <script>
    // 清除文字
    document.getElementById('clearButton4')?.addEventListener('click', function() {
        document.querySelectorAll('.inputField').forEach(function(input) {
            input.value = ''; 
        });
    });
    </script>