<!-- 基本資訊 -->
<div>
    <div class="container py-10">
        <div class="row g-0 py-10">
            <div class="border border-2">
                    <div class="d-lg-flex">
                        <div class="col-lg-4 d-flex justify-content-center align-items-center mt-4">
                            <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded" alt="海綿寶寶">
                        </div>
                            <div class="col-lg-8">
                                    <div class="card-body ps-5">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="fs-1 text-primary-600 fw-bold m-1">謝阿金<i class="bi bi-clipboard-check fs-3"></i></a>
                                                    </div>
                                                <h5 class="fs-5 text-light m-1">偏好領域：餐飲，一般服務，批發／零售</h5>
                                        <h1 class="fs-2 m-1 text-light">資金規模：40,000,000</h1>
                                        <p class="m-1 fs-6 text-gray-400">開始募資時間：2024/7/25</p>
                                    </div>
                            </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary-600 mb-5 mx-3 rounded-2">合作聯繫<i class="bi bi-unlock ps-1"></i>
                        </a>
                        <a href="#" class="btn btn-primary-600 mb-5 mx-3 rounded-2">內容解鎖<i class="bi bi-unlock ps-1"></i>
                        </a>
                    </div>
            </div>
        </div>

<!-- 電腦版導覽列 -->
        <div class="d-flex justify-content-around bg-gray-600 d-none d-lg-block text-center">
            <a href="Investor-autobiography.html"><p class="m-3">自傳</p></a>
            <a href="Investor-experience.html"><p class="m-3">投資經歷</p></a>
            <a href="Investor-resource.html"><p class="m-3">具體相關資源</p></a>
            <a href="Investor-photo.html"><p class="m-3">照片參考</p></a>
            <a href="Investor-evaluate.html"><p class="m-3">投資人評價</p></a>
        </div>

 <!-- 手機版導覽列 -->
 <div class="d-block d-lg-none border-bottom">
    <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <div class="d-flex text-gray-100 fs-5 p-1">
        <img src="/assets/images/icons/sidebar.png" alt="sidebar">
        <p class=" ps-1 fw-bold">詳細資訊</p>
      </div>
    </a>
    <div class="offcanvas offcanvas-start bg-gray-1000 bg-opacity-75" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title text-primary-600 fw-bold fs-5" id="offcanvasExampleLabel">詳細資訊</h5>
        <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
         <div class="d-flex flex-column  p-1 text-white bg-gray-1000 bg-opacity-75 sidemenu-link" >
            <ul class="flex-column fw-bold list-unstyled">
                <li><a href="Investor-autobiography.html" class="nav-link text-white ps-1 lh-lg pt-1 fs-2" >自傳</a></li>
                <li><a href="Investor-experience.html" class="nav-link text-white  ps-1 lh-lg fs-2" >投資經歷</a></li>
                <li><a href="Investor-resource.html" class="nav-link text-white  ps-1 lh-lg fs-2" >具體相關資源</a></li>
                <li><a href="Investor-photo.html" class="nav-link text-white  ps-1 lh-lg fs-2">照片參考</a></li>
                <li><a href="Investor-evaluate.html" class="nav-link text-white  ps-1 lh-lg fs-2">投資人評價</a></li>
            </ul>
         </div> 
       </div>
    </div>
</div>

    </div>
</div>