<div class="d-flex flex-column  p-3 text-white bg-dark" >
    <ul class="flex-column">
      <li><a href="#" class="nav-link text-gray-400 fs-4">我的帳戶</a></li>
      <li><a href="member.html" class="nav-link text-white fs-5 text-center" >個人資料</a></li>
      <li><a href="meber-identity.html" class="nav-link text-white fs-5 text-center" >身份審核</a></li>
      <li><a href="member-changepassword.html" class="nav-link text-white fs-5 text-center" >修改密碼</a></li>
      <li><a href="#" class="nav-link text-white fs-5 text-center">可用點數</a></li>
      <li><a href="#" class="nav-link text-white fs-5 text-center">隱私設置</a></li>
    </ul>
      <ul class="flex-column">
        <li><a href="#" class="nav-link text-gray-400 fs-4">創業項目</a></li>
        <li><a href="#" class="nav-link text-white fs-5 text-center">新增創業項目</a></li>
        <li><a href="#" class="nav-link text-white fs-5 text-center">已建創業項目</a></li>
      </ul>

      <ul class="flex-column"></ul>
        <li><a href="#" class="nav-link text-gray-400 fs-4">投資人</a></li>
        <li><a href="#" class="nav-link text-white fs-5 text-center">建立/修改投資人資料</a></li>
      </ul>

      <ul class="flex-column"></ul>
        <li><a href="#" class="nav-link text-gray-400 fs-4">評價紀錄</a></li>
        <li><a href="#" class="nav-link text-white fs-5 text-center">創業項目評價</a></li>
        <li><a href="#" class="nav-link text-white fs-5 text-center">投資人評價</a></li>
      </ul>
      <ul class="flex-column"></ul>
      <li><a href="#" class="nav-link text-gray-400 fs-4">我的收藏</a></li>
      <li><a href="#" class="nav-link text-white fs-5 text-center">創業項目收藏列表</a></li>
      <li><a href="#" class="nav-link text-white fs-5 text-center">投資人收藏列表</a></li>
    </ul>
    <ul class="flex-column"></ul>
    <li><a href="#" class="nav-link text-gray-400 fs-4">我的活動</a></li>
    <li><a href="#" class="nav-link text-white fs-5 text-center">已申請活動</a></li>
    <li><a href="#" class="nav-link text-white fs-5 text-center">活動紀錄</a></li>
  </ul>

  <ul class="flex-column"></ul>
  <li><a href="#" class="nav-link text-gray-400 fs-4">我的消息</a></li>
  <li><a href="#" class="nav-link text-white fs-5 text-center">站內消息</a></li>
</ul>
  
<ul class="flex-column"></ul>
<li><a href="#" class="nav-link text-gray-400 fs-4">討論區</a></li>
<li><a href="#" class="nav-link text-white fs-5 text-center">新增文章</a></li>
<li><a href="#" class="nav-link text-white fs-5 text-center">發文列表</a></li>
<li><a href="#" class="nav-link text-white fs-5 text-center">查看留言</a></li>
</ul>


  </div> 