  <!-- 電腦版導覽列 -->
  <div class=" bg-gray-600 d-none d-lg-block">
    <ul class="list-unstyled d-flex justify-content-between text-center  fw-bold">
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-introduction" data-title="項目簡介" onclick="updateTitle('項目簡介')">項目簡介</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-team" data-title="團隊" onclick="updateTitle('團隊')">團隊</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-swot" data-title="SWOT分析" onclick="updateTitle('SWOT分析')">SWOT分析</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-market" data-title="市場規模" onclick="updateTitle('市場規模')">市場規模</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-product" data-title="產品" onclick="updateTitle('產品')">產品</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-compete" data-title="競爭產品" onclick="updateTitle('競爭產品')">競爭產品</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-model" data-title="商業模式" onclick="updateTitle('商業模式')">商業模式</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-entrepreneur" data-title="創業者資訊" onclick="updateTitle('創業者資訊')">創業者資訊</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-photo" data-title="照片參考" onclick="updateTitle('照片參考')">照片參考</a></li>
    <li><a href="#" class="m-1 nav-link text-white" data-content="project-evaluate" data-title="創業者評價" onclick="updateTitle('創業者評價')">創業者評價</a></li>
</ul>
</div>

<!-- 手機版導覽列 -->
<div class="d-block d-lg-none">
  <a class="btn border-bottom w-100 px-0" data-bs-toggle="offcanvas" href="#offcanvasSidebar" role="button" aria-controls="offcanvasSidebar">
    <div class="d-flex align-items-center text-gray-100 fs-5">
        <img src="/assets/images/icons/sidebar.png" alt="sidebar" style="width: 40px; height: 40px;">
        <p class="ps-1 fw-bold" id="current-page-title3">項目簡介</p>
    </div>
</a>
<div class="offcanvas offcanvas-start bg-gray-1000 opacity-75" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header border-bottom">
      <h5 id="offcanvasSidebarLabel" class="text-primary-600 fw-bold fs-5" >林媽媽中式餐館</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="flex-column fw-bold list-unstyled">
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg pt-2" data-content="project-introduction" data-title="項目簡介" onclick="updateTitle('項目簡介')">項目簡介</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg" data-content="project-team" data-title="團隊" onclick="updateTitle('團隊')">團隊</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg" data-content="project-swot" data-title="SWOT分析" onclick="updateTitle('SWOT分析')">SWOT分析</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg" data-content="project-market" data-title="市場規模" onclick="updateTitle('市場規模')">市場規模</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-product" data-title="產品" onclick="updateTitle('產品')">產品</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-compete" data-title="競爭產品" onclick="updateTitle('競爭產品')">競爭產品</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-model" data-title="商業模式" onclick="updateTitle('商業模式')">商業模式</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-entrepreneur" data-title="創業者資訊" onclick="updateTitle('創業者資訊')">創業者資訊</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-photo" data-title="照片參考" onclick="updateTitle('照片參考')">照片參考</a></li>
      <li><a href="#" class="nav-link text-white  ps-1 lh-lg " data-content="project-evaluate" data-title="創業者評價" onclick="updateTitle('創業者評價')">創業者評價</a></li>
  </ul>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
      window.updateTitle = function(title) {
          document.getElementById('current-page-title3').innerText = title;
      };
  });

</script>