<!-- 基本資訊 -->
<div class="card bg-gray-1000">
    <div class="container py-15">
        <div class="row g-0 py-15">
            <div class="border border-2">
                    <div class="d-flex">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                            </div>
                            <div class="col-9">
                                    <div class="card-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="fs-1 text-primary-600 fw-bold m-1">林媽媽中式餐館<i class="bi bi-clipboard-check fs-3"></i></a>
                                                    </div>
                                                <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                                                <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                                                <h5 class="fs-5 text-light m-1">規模：10人以下</h5>
                                                <h5 class="fs-5 text-light m-1">資本額：30,00,000</h5>
                                        <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                                        <p class="m-1 fs-6 text-gray-400">開始募資時間：2024/7/25</p>
                                    </div>
                            </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn login-btn btn-primary-600 mb-6 mx-6">合作聯繫<i class="bi bi-unlock ps-1"></i>
                        </a>
                        <a href="#" class="btn login-btn btn-primary-600 mb-6 mx-6">內容解鎖<i class="bi bi-unlock ps-1"></i>
                        </a>
                    </div>
            </div>
        </div>

        <div class="d-flex justify-content-between bg-gray-600">
            <a href="Project-introduction.html"><p class="m-3 text-primary-600 fw-bolder">項目簡介</p></a>
            <a href="Project-team.html"><p class="m-3">團隊</p></a>
            <a href="Project-swot.html"><p class="m-3">SWOT分析</p></a>
            <a href="Project-market.html"><p class="m-3">市場規模</p></a>
            <a href="Project-product.html"><p class="m-3">產品</p></a>
            <a href="Project-compete.html"><p class="m-3">競爭產品</p></a>
            <a href="Project-model.html"><p class="m-3">商業模式</p></a>
            <a href="Project-entrepreneur.html"><p class="m-3">創業者資訊</p></a>
            <a href="Project-photo.html"><p class="m-3">照片參考</p></a>
            <a href="Project-evaluate.html"><p class="m-3">創業者評價</p></a>
        </div>


    </div>
</div>