<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘記密碼</title>
    <style>
        .step {
          display: none;
        }
        .step.active {
          display: block;
        }
      </style>
</head>
<body>
    <%- include('./layout/header'); -%>
    
    <div class="container">
        <div class="login">
            <h1 class="mb-8">忘記密碼</h1>
            <p class="mb-5">系統已寄送 E-mail 驗證信函至您的會員註冊電子信箱
                請您收到信件後於下方欄位輸入驗證碼</p>
                <form class="row needs-validation" novalidate>
                    <div class="mx-auto mb-4">
                        <input id="number" type="text" class="login-input form-control mb-1" placeholder="請輸入驗證碼" required>
                        <button type="button" class="btn btn-primary-200 me-1">重發驗證碼</button> <span class="text-gray-200">60秒</span>  
                    </div>
                    
                    <div class="mb-5">
                        <a href="/pages/login/fotget-password/fotget-password-step3.html" class="btn btn-primary-600 w-100 p-2">驗證</a>
                    </div>
                </form>
        </div>  
    </div>
    
   
    <%- include('./layout/footer'); -%>
    <script src="/assets/js/password.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>