.front-page-banner {
  background-image: url('/assets/images/Banner.png');
  background-blend-mode: saturation;
  background-repeat: none;
  background-size: cover ;
  height: 100vh;
}

.banner-title {
  color: $gray-100;
  font-weight: bold;
  font-size: 64px;
  line-height: 76.8px;
  letter-spacing: 5%;
  span {
    color:$primary-600;
  }
}
.banner-content {
  width: 606px;
}
//  banner-input
.banner-input {
  width: 41.25%;
  background-color: #333333B2;
  color: $gray-100;
  padding: 13px 24px;
  border:2px solid $gray-100;
  border-radius: 0%;
  &:focus {
    background-color: #333333B2;
    color: $gray-100;
    border:2px solid $primary-600;
  }
  &::placeholder {
    color: $gray-100; 
  }
}

.search-dropdown {
  width:33.66% ;
}

.dropdown-btn {
  background-color: $gray-800;
  color: $gray-100; 
  padding: 13px 24px;
  border:2px solid $gray-100;
  border-radius: 0px;
  width: 100%;
  &:hover {
    background-color: $gray-800;
    color: $gray-100;
    border:2px solid $primary-600;
  }
  &:focus {
    background-color: #333333B2;
    color: $gray-100;
    border:2px solid $primary-600;
  }
}

.dropdown-menu {
  background-color: $gray-800; 
  border-radius: 0px;
  width: 100%;
  .dropdown-hover:hover {
    outline: 2px dashed #43E1BF
  }
  .dropdown-item {
    padding: 13px 24px;
    &:hover {
      background-color: $gray-800;
      color: $gray-100;
    }
  }
}

.search-btn {
  width: 120px;
  padding: 13px 24px;
}

.n-icon::after {
  display: none;
}


.industry-card {
  height: 100px;
  padding: 12px;
  font-weight: bolder;
  display: flex;
  justify-content: end;
  align-items: end;
}