.title-createdprojects {
    padding: 28px 28px 16px 28px;
}

.bady-createdprojects {
    padding: 0 28px 28px 28px;
}

.form-createdprojects ul {
    width: 280px;
}


@media (max-width: 768px) {
    .form-createdprojects ul {
        width: 100%; 
    }
}