.created-title {
    padding: 28px 28px 16px 28px;
}

.created-bady {
    padding: 0 28px 28px 28px;
}

.created-form ul {
    width: 280px;
}

.upload {
    background-image: url(/assets/images/頭像1.png);
    background-size: cover;
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .created-form ul {
        width: 100%; 
    }
}