// 123
.bg1{
    background-image:url(/assets/images/Map-item-1.png);
    width: 224px;
    height: 120px;
}
.bg2{
    background-image:url(/assets/images/Map-item-2.png);
    width: 224px;
    height: 120px;
}
.bg3{
    background-image:url(/assets/images/Map-item-3.png);
    width: 224px;
    height: 120px;
}
.bg4{
    background-image:url(/assets/images/Map-item-4.png);
    width: 224px;
    height: 120px;
}
.bg5{
    background-image:url(/assets/images/Map-item-5.png);
    width: 224px;
    height: 120px;
}
.bg6{
    background-image:url(/assets/images/Map-item-6.png);
    width: 224px;
    height: 120px;
}
.bg7{
    background-image:url(/assets/images/Map-item-7.png);
    width: 224px;
    height: 120px;
}
.bg8{
    background-image:url(/assets/images/Map-item-8.png);
    width: 224px;
    height: 120px;
}
.bg9{
    background-image:url(/assets/images/Map-item-9.png);
    width: 224px;
    height: 120px;
}
.bg10{
    background-image:url(/assets/images/Map-item-10.png);
    width: 224px;
    height: 120px;
}
.bg11{
    background-image:url(/assets/images/Map-item-11.png);
    width: 224px;
    height: 120px;
}
.bg12{
    background-image:url(/assets/images/Map-item-12.png);
    width: 224px;
    height: 120px;
}
.bg13{
    background-image:url(/assets/images/Map-item-13.png);
    width: 224px;
    height: 120px;
}
.bg14{
    background-image:url(/assets/images/Map-item-14.png);
    width: 224px;
    height: 120px;
}
.bg15{
    background-image:url(/assets/images/Map-item-15.png);
    width: 224px;
    height: 120px;
}
.bg16{
    background-image:url(/assets/images/Map-item-16.png);
    width: 224px;
    height: 120px;
}
.bg17{
    background-image:url(/assets/images/Map-item-17.png);
    width: 224px;
    height: 120px;
}
.bg18{
    background-image:url(/assets/images/Map-item-18.png);
    width: 224px;
    height: 120px;
}
.bg19{
    background-image:url(/assets/images/Map-item-19.png);
    width: 224px;
    height: 120px;
}
.bg20{
    background-image:url(/assets/images/Map-item-20.png);
    width: 224px;
    height: 120px;
}

.created-title {
    margin: 28px 28px 16px 28px;;
    
}



.created-form ul {
    width: 280px;
}

.solid{
    margin-left: 28px;
    margin-right: 28px;
}