<h1 class="fs-2 fw-bold">付費方案</h1>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary-600 fw-bold rounded mb-2 d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#planEditModal">
    <i class=" bi bi-plus-lg fw-bold admin-activity__icon me-1"></i>
    新增付費方案
  </button>
</div>

<form class="form-inline w-100 d-flex align-items-center">
  <input class="admin__input form-control me-2 flex-grow-1 admin-search" type="search" placeholder="搜尋方案編號 / 點數">
  <button class="btn btn-primary-600 fw-bold rounded text-nowrap me-3" type="submit">搜尋</button>

  <div class="admin-dropdown dropdown">
    <button class="btn btn-secondary dropdown-toggle rounded bg-gray-1000" type="button" id="dropdownButtonStatus" data-bs-toggle="dropdown">
      啟用狀態
    </button>
    <ul class="dropdown-menu dropdown-menu_short rounded bg-gray-1000">
      <li><a class="dropdown-item" href="#">全部</a></li>
      <li><a class="dropdown-item" href="#">啟用</a></li>
      <li><a class="dropdown-item" href="#">未啟用</a></li>
    </ul>
  </div>
</form>

<div class="admin-account">
  <table class="table mt-4">
    <thead class="table-light">
      <tr>
        <th width="80">方案編號</th>
        <th width="100">點數</th>
        <th width="130">價格</th>
        <th width="90">狀態</th>
        <th width="30" class="text-center">編輯</th>
        <th width="30" class="text-center">刪除</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>200點</td>
        <td>99 NTD</td>
        <td>
          <p class="fw-bold text-primary-600">
            啟用
          </p>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#planEditModal">
            編輯
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#delPlanModal">
            刪除
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>400點</td>
        <td>199 NTD</td>
        <td>
          <p class="fw-bold text-danger">
            未啟用
          </p>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#planEditModal">
            編輯
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#delPlanModal">
            刪除
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 新增/編輯 -->
<div class="modal fade" id="planEditModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary-600">
        <h5 class="fs-3 modal-title fw-bold">付費方案</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body admin-modal-body">
        <label class="admin-activity__label mb-1" for="point">點數</label>
        <input class="admin__input form-control mb-5" type="number" id="point">
        
        <label class="admin-activity__label mb-1" for="price">價格</label>
        <input class="admin__input form-control mb-5" type="number" id="price">
        <h5 class="fs-5 mb-3">是否啟用</h5>
        <form class="d-flex">
          <label class="me-2">
              <input type="radio" name="availability" value="available">啟用
          </label>
          <label>
              <input type="radio" name="availability" value="unavailable">未啟用
          </label>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary-600 rounded">確認</button>
      </div>
    </div>
  </div>
</div>
<!-- 刪除 -->
<div id="delPlanModal"
ref="delCommentModal"
class="modal fade"
tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title fw-bold">
          <span>刪除方案</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        是否刪除ID為
        <strong class="text-danger">1</strong>
        之方案(刪除後將無法恢復)。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary rounded" data-bs-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-danger rounded">確認刪除</button>
      </div>
    </div>
  </div>
</div>