<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動</title>
</head>

<body>
    <%- include('./layout/header'); -%>
  
<main class="bg-gray-1000 py-15">

     
      <!-- 輪播圖 -->
    <section class="container">
      <h2 class="text-center text-primary-600 my-8">熱門活動</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/卡斯柏分享會.png" class="d-block w-100" alt="創業分享會">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/創夢工坊展覽會.png" class="d-block w-100" alt="創業展覽會">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/聯誼活動.png" class="d-block w-100" alt="聯誼">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    
    <!-- 列表 -->
     <section class="container pt-9">
        <div class="card mb-4 ">
            <div class="row g-0 d-flex align-items-center bg-gray-800">
              <div class="col-md-3">
                <img src="/assets/images/卡斯柏分享會.png" class="img-fluid rounded-start w-100" alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body text-white bd-gray-800">
                  <h2 class="card-title text-primary-1000 fw-bold">卡斯柏創業分享會</h2>
                  <ul class="fs-5">
                    <li>日期：2024年9月15日</li>
                    <li>時間：14:00-17:00</li>
                    <li>地點：高雄市鹽埕區七賢三路123號2樓</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 d-flex flex-column flex-lg-row justify-content-center">
                <a href="activity-casper.html" class="btn btn-primary-600 fw-bolder btn-lg">查看詳情</a>
              </div>
            </div>
          </div>

          <div class="card mb-4" style="">
            <div class="row g-0 d-flex align-items-center bg-gray-800">
              <div class="col-md-3">
                <img src="/assets/images/創夢工坊展覽會.png" class="img-fluid rounded-start" alt="展覽會">
              </div>
              <div class="col-md-6">
                <div class="card-body text-white">
                  <h2 class="card-title text-primary-1000 fw-bold">創夢工坊展覽會</h2>
                  <ul class="fs-5">
                    <li>日期：2024年9月20日</li>
                    <li>時間：14:00-17:00</li>
                    <li>地點：新北市板橋區中正路120號</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 d-flex flex-column flex-lg-row justify-content-center">
                <a href="activity.html" class="btn btn-primary-600 fw-bolder btn-lg">查看詳情</a>
              </div>
            </div>
          </div>
        
          <div class="card mb-4" style="">
            <div class="row g-0 d-flex align-items-center bg-gray-800">
              <div class="col-md-3">
                <img src="/assets/images/聯誼活動.png" class="img-fluid rounded-start" alt="聯誼">
              </div>
              <div class="col-md-6">
                <div class="card-body text-white">
                  <h2 class="card-title text-primary-1000 fw-bold">與投資人來一場聯誼活動吧</h2>
                  <ul class="fs-5">
                    <li>日期：2024年9月15日</li>
                    <li>時間：14:00-17:00</li>
                    <li>地點：新北市板橋區中正路120號</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 d-flex flex-column flex-lg-row justify-content-center">
                <a href="activity.html" class="btn btn-primary-600 fw-bolder btn-lg">查看詳情</a>
              </div>
            </div>
          </div>

          <div class="card mb-4" style="">
            <div class="row g-0 d-flex align-items-center bg-gray-800">
              <div class="col-md-3">
                <img src="/assets/images/創夢工坊展覽會915.png" alt="展覽會">
              </div>
              <div class="col-md-6">
                <div class="card-body text-white">
                  <h2 class="card-title text-primary-1000 fw-bold">創夢工坊展覽會</h2>
                  <ul class="fs-5">
                    <li>日期：2024年9月15日</li>
                    <li>時間：14:00-17:00</li>
                    <li>地點：新北市板橋區中正路120號</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 d-flex flex-column flex-lg-row justify-content-center">
                <a href="activity.html" class="btn btn-primary-600 fw-bolder btn-lg">查看詳情</a>
              </div>
            </div>
          </div>

     </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
</body>
</html>