<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘記密碼</title>
    <style>
        .step {
          display: none;
        }
        .step.active {
          display: block;
        }
      </style>
</head>
<body>
    <%- include('./layout/header'); -%>
    
    <div class="container">
        <div class="login">
            <h1 class="mb-8">忘記密碼</h1>
            <form class="row needs-validation" novalidate>
                <div class="mx-auto mb-6">
                    <label for="email" class="text-gray-100 fs-5 mb-2">重置新密碼</label>
                    <input 
                    id="email" 
                    type="text" 
                    class="login-input form-control mb-4" placeholder="請輸入新密碼 ( 設定6-18位半形英文數字含大小寫)" required>
                    <label for="email" class="text-gray-100 fs-5 mb-2">輸入第2次新密碼</label>
                    <input 
                    id="email" 
                    type="text" 
                    class="login-input form-control" placeholder="請再輸入新密碼 ( 設定6-18位半形英文數字含大小寫)" required>
                </div>
                <div>
                    <a href="index.html" class="btn btn-primary-600 w-100 p-2">送出</a>
                </div>
            </form>    
        </div>  
    </div>
   
    <%- include('./layout/footer'); -%>
    <script src="/assets/js/password.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>