<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>付費方案</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div
      class="pay-banner"
      style="background-image: url(/assets/images/pay-banner.png)"
    ></div>

    <div class="container">
      <h2 class="text-center mb-8">方案價格實惠，滿足各種需求</h2>

      <div class="d-flex justify-content-between mb-5">
        <h3>儲值點數</h3>
        <div class="border d-flex justify-content-between p-1">
          <p class="me-2">Aimyon</p>
          <p class="text-primary-400 ms-2">150,000點</p>
        </div>
      </div>

      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-2 g-lg-3 g-2 pb-10">
        <div class="col mb-5">
          <a class="card points-card p-2 mb-2" href="checkout/checkout.html">
            <h4>100點</h4>
          </a>
          <h6 class="text-gray-200 text-center">100 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>200點</h4>
          </a>
          <h6 class="text-gray-200 text-center">200 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>300點</h4>
          </a>
          <h6 class="text-gray-200 text-center">300 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>400點</h4>
          </a>
          <h6 class="text-gray-200 text-center">400 NTD</h6>
        </div>

        <div class="col mb-5">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>500點</h4>
          </a>
          <h6 class="text-gray-200 text-center">490 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>800點</h4>
          </a>
          <h6 class="text-gray-200 text-center">780 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>1000點</h4>
          </a>
          <h6 class="text-gray-200 text-center">950 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>1200點</h4>
          </a>
          <h6 class="text-gray-200 text-center">920 NTD</h6>
        </div>

        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>1500點</h4>
          </a>
          <h6 class="text-gray-200 text-center">1400 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>1800點</h4>
          </a>
          <h6 class="text-gray-200 text-center">1700 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>2000點</h4>
          </a>
          <h6 class="text-gray-200 text-center">1800 NTD</h6>
        </div>
        <div class="col">
          <a class="card points-card p-2 mb-2" href="#">
            <h4>5000點</h4>
          </a>
          <h6 class="text-gray-200 text-center">4500 NTD</h6>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="/main.js"></script>
  </body>
</html>
