<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
  
    <%- include('./layout/Project-information'); -%>
    <div class="bg-gray-1000">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p class="pb-15"> 
                        在台灣市場，一些知名的競爭品牌可以包括：<br><br>

                        鼎泰豐（Din Tai Fung）：以其精緻的小籠包和台灣菜系聞名全球，是台灣最具代表性的餐廳之一。<br>
                        滿福樓（Man Fu Lou）：專注於粤菜和中式點心，以高品質的食材和烹飪技術聞名。<br>
                        霜玉（Shuang Yu）：提供現代創新的中華料理，結合台灣本土食材和烹飪風格。<br>
                        南京三兄弟：以其多樣化的菜單和實惠的價格吸引大眾，是台灣家庭常去的中式餐廳之一。<br>
                        金車（Jin Che）：以其創新的川菜和湘菜菜式聞名，提供多樣化的選擇和風味。<br><br>

                        這些品牌在台灣市場享有良好的知名度和顧客基礎，競爭激烈。我們將透過其獨特的菜品組合、優質的服務和競爭力的價格策略，以及在本地市場的市場定位來區隔自己。
                    </p>
                </div> 
            </div>        
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>


</body>
</html>