<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <!-- search -->
    <div class="search-bg d-flex flex-column justify-content-center align-items-center bg-gray-1000">
          <div class="w-100 d-flex align-items-center justify-content-center my-5">
            <div class="banner-input input-group w-100 my-3 me-3">
              <input type="search" class="form-control ps-1 bg-gray-600 rounded-0 border border-1 border-white" placeholder="搜尋創業項目" id="search">
            </div>
            <button type="submit" class="search-btn btn btn-primary-600 rounded-0">搜尋</button>
          </div>        
    </div>

    <!-- 熱門創業項目 -->
    <div class="container py-5">
        <h2 class="fw-bold text-center mb-5 text-primary-600">熱門創業項目</h2>
        <div class="row">
          <div class="col-3">
            <div class="card popular-card text-center">
              <div class="card-body p-3">
                <h5 class="mb-3">綠能創新股份有限公司</h5>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <span class="me-2">環保科技</span><span>|</span><span class="ms-2">智慧設備</span>
                </div>
                <p>
                  專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                </p>
              </div>
              <a href="#" class="btn btn-light rounded-0">
                <p>資金規模</p>
                <strong>$ 40,000,000 NTD</strong>
              </a>
            </div>
          </div>
          <div class="col-3">
            <div class="card popular-card text-center">
              <div class="card-body p-3">
                <h5 class="mb-3">綠能創新股份有限公司</h5>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <span class="me-2">環保科技</span><span>|</span><span class="ms-2">智慧設備</span>
                </div>
                <p>
                  專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                </p>
              </div>
              <a href="#" class="btn btn-light rounded-0">
                <p>資金規模</p>
                <strong>$ 40,000,000 NTD</strong>
              </a>
            </div>
          </div>
          <div class="col-3">
            <div class="card popular-card text-center">
              <div class="card-body p-3">
                <h5 class="mb-3">綠能創新股份有限公司</h5>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <span class="me-2">環保科技</span><span>|</span><span class="ms-2">智慧設備</span>
                </div>
                <p>
                  專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                </p>
              </div>
              <a href="#" class="btn btn-light rounded-0">
                <p>資金規模</p>
                <strong>$ 40,000,000 NTD</strong>
              </a>
            </div>
          </div>
          <div class="col-3">
            <div class="card popular-card text-center">
              <div class="card-body p-3">
                <h5 class="mb-3">綠能創新股份有限公司</h5>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <span class="me-2">環保科技</span><span>|</span><span class="ms-2">智慧設備</span>
                </div>
                <p>
                  專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                </p>
              </div>
              <a href="#" class="btn btn-light rounded-0">
                <p>資金規模</p>
                <strong>$ 40,000,000 NTD</strong>
              </a>
            </div>
          </div>
        </div>
      </div>

    <!-- 領域地圖 -->
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <div class="row g-5 d-flex justify-content-center">
              <div class="col-lg-3 bg1 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  不限產業
                </div>
              </div>
              <div class="col-lg-3 bg2 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  批發/零售
                </div>
              </div>
              <div class="col-lg-3 bg3 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  生物科技
                </div>
              </div>
              <div class="col-lg-3 bg4 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  網際網路相關
                </div>
              </div>
              <div class="col-lg-3 bg5 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  文教相關
                </div>
              </div>
              <div class="col-lg-3 bg6 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  大眾傳播相關
                </div>
              </div>
              <div class="col-lg-3 bg7 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  旅遊/休閒/運動
                </div>
              </div>
              <div class="col-lg-3 bg8 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  一般服務
                </div>
              </div>
              <div class="col-lg-3 bg9 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  電子資訊/軟體/半導體相關
                </div>
              </div>
              <div class="col-lg-3 bg10 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  一般製造
                </div>
              </div>
              <div class="col-lg-3 bg11 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  物流/倉儲
                </div>
              </div>
              <div class="col-lg-3 bg12 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  政治宗教及社福相關
                </div>
              </div>
              <div class="col-lg-3 bg13 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  金融投顧/保險
                </div>
              </div>
              <div class="col-lg-3 bg14 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  法律／會計／顧問／研發
                </div>
              </div>
              <div class="col-lg-3 bg15 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  設計相關
                </div>
              </div>
              <div class="col-lg-3 bg16 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  建築營造/不動產相關
                </div>
              </div>

              <div class="col-lg-3 bg17 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  醫療保健/環境衛生
                </div>
              </div>
              <div class="col-lg-3 bg18 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  礦石及土石採取
                </div>
              </div>
              <div class="col-lg-3 bg19 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  住宿相關
                </div>
              </div>
              <div class="col-lg-3 bg20 position-relative">
                <div class="text-light position-absolute bottom-0 end-0 p-1">
                  餐飲
                </div>
              </div>

            </div>
          </div>
        </div>
       </div>

    <!-- 篩選後項目 -->
    <div class="container py-5">
      <div class="d-flex justify-content-between">
        <div class="col-3"></div>
        <h2 class="fw-bold mb-5 text-center text-primary-600 col-6">餐飲/一般服務</h2>
        <div class="navbar-expand-lg col-3 text-end">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle rounded-0 border border-1 border-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                預設排序
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><button class="dropdown-item" type="button"></button>預設排序</li>
              <li><button class="dropdown-item" type="button"></button>依募資金額：高至低</li>
              <li><button class="dropdown-item" type="button"></button>依募資金額：低至高</li>
              <li><button class="dropdown-item" type="button"></button>依上架時間：新至舊</li>
              <li><button class="dropdown-item" type="button"></button>依上架時間：舊至新</li>
              <li><button class="dropdown-item" type="button"></button>依公司成立狀態：未設立</li>
              <li><button class="dropdown-item" type="button"></button>依公司成立狀態：已設立</li>
            </ul>
          </div>
        </div>
      </div>
        <div class="card mb-3">
            <div class="row g-0 d-flex">
              <div class="col-3 d-flex justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded-start" alt="logo">
              </div>
              <div class="col-7">
                <div class="card-body">
                  <a href="#" class="fs-4">Fresh Master Food Co., Ltd.</a>
                  <div class="d-flex">
                    <h5 class="fs-5">公司成立狀態：未設立</h5>
                    <h5 class="fs-5">產業分類：餐飲</h5>
                  </div>
                  <p>我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                  <h1>募資金額：50,000,000</h1>
                  <p>2024/7/25</p>
                </div>
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center">
                <i class="bi bi-heart fs-3"></i>
              </div>
            </div>
        </div>
        <div class="card mb-3">
          <div class="row g-0 d-flex">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded-start" alt="logo">
            </div>
            <div class="col-7">
              <div class="card-body">
                <a href="#" class="fs-4">Fresh Master Food Co., Ltd.</a>
                <div class="d-flex">
                  <h5 class="fs-5">公司成立狀態：未設立</h5>
                  <h5 class="fs-5">產業分類：餐飲</h5>
                </div>
                <p>我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                <h1>募資金額：50,000,000</h1>
                <p>2024/7/25</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-heart fs-3"></i>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row g-0 d-flex">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded-start" alt="logo">
            </div>
            <div class="col-7">
              <div class="card-body">
                <a href="#" class="fs-4">Fresh Master Food Co., Ltd.</a>
                <div class="d-flex">
                  <h5 class="fs-5">公司成立狀態：未設立</h5>
                  <h5 class="fs-5">產業分類：餐飲</h5>
                </div>
                <p>我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                <h1>募資金額：50,000,000</h1>
                <p>2024/7/25</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-heart fs-3"></i>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row g-0 d-flex">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded-start" alt="logo">
            </div>
            <div class="col-7">
              <div class="card-body">
                <a href="#" class="fs-4">Fresh Master Food Co., Ltd.</a>
                <div class="d-flex">
                  <h5 class="fs-5">公司成立狀態：未設立</h5>
                  <h5 class="fs-5">產業分類：餐飲</h5>
                </div>
                <p>我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                <h1>募資金額：50,000,000</h1>
                <p>2024/7/25</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-heart fs-3"></i>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row g-0 d-flex">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded-start" alt="logo">
            </div>
            <div class="col-7">
              <div class="card-body">
                <a href="#" class="fs-4">Fresh Master Food Co., Ltd.</a>
                <div class="d-flex">
                  <h5 class="fs-5">公司成立狀態：未設立</h5>
                  <h5 class="fs-5">產業分類：餐飲</h5>
                </div>
                <p>我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                <h1>募資金額：50,000,000</h1>
                <p>2024/7/25</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-heart fs-3"></i>
            </div>
          </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>


</body>
</html>