<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <%- include('./layout/header'); -%>
  <div class="bg-green">

     <!-- 推薦投資人 -->
        <div class="container py-8 py-lg-15">
          <h2 class="fw-bold text-center mb-5 text-primary-600">推薦投資人</h2>
          <!-- Swiper -->
          <div class="swiper businessSwiper">
            <div class="swiper-wrapper pe-12">
              <!-- 1 -->
              <div class="business-swiper swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body position-relative">
                    <a href="#">
                      <img class="favorite" src="/assets/images/icons/heart.png" alt="investor">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor1.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Michael Smith</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">金融</h6>
                    <p>
                      在金融領域有深厚的背景，對創新支付解決方案和區塊鏈技術特別感興趣
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">NT$ 40,000,000</p>
                  </a>
                </div>
              </div>
              <!-- 2 -->
              <div class="swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body">
                    <a href="#">
                      <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor2.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Darrell Steward</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">醫療</h6>
                    <p>
                      生物醫學博士，熱衷於支持研發創新藥物和醫療設備，改善病患生活品質
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">NT$ 800,000</p>
                  </a>
                </div>
              </div>
              <!-- 3 -->
              <div class="swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body">
                    <a href="#">
                      <img class="favorite" src="/assets/images/icons/heart.png" alt="heart">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor3.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Michael Smith</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">金融</h6>
                    <p>
                      在金融領域有深厚的背景，對創新支付解決方案和區塊鏈技術特別感興趣
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">$ NT$ 20,000,000</p>
                  </a>
                </div>
              </div>
              <!-- 4 -->
              <div class="swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body">
                    <a href="#">
                      <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor1.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Marvin McKinney</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">物聯網</h6>
                    <p>
                      工程背景，專注於投資物聯網相關技術，推動互聯設備的普及與應用
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">NT$ 1,500,000</p>
                  </a>
                </div>
              </div>
              <!-- 5 -->
              <div class="swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body">
                    <a href="#"></a>
                    <img class="favorite" src="/assets/images/icons/heart.png" alt="heart">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor2.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Darrell Steward</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">醫療</h6>
                    <p>
                      生物醫學博士，熱衷於支持研發創新藥物和醫療設備，改善病患生活品質
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">$ 40,000000 NTD</p>
                  </a>
                </div>
              </div>
              <!-- 6 -->
              <div class="swiper-slide">
                <div class="card popular-card text-center h-100">
                  <div class="popular-card-body">
                    <a href="#">
                      <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                    </a>
                    <img class="company-logo mb-3" src="/assets/images/investor1.png" alt="green-logo">
                    <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">Marvin McKinney</h4>
                    <h6 class="text-gray-200">偏好投資領域</h6>
                    <h6 class="fw-bold text-gray-100">物聯網</h6>
                    <p>
                      工程背景，專注於投資物聯網相關技術，推動互聯設備的普及與應用
                    </p>
                  </div>
                  <a href="#" class="btn btn-gray-600 py-3">
                    <p class="fs-5">資金規模</p>
                    <p class="fs-5 fw-bold text-white">$ 40,000000 NTD</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        

      <!-- 篩選產業 -->
      <div class="container py-lg-15">
        <h2 class="fw-bold fs-3 text-center text-primary-600 mb-lg-1">篩選產業</h2>
        <p class="text-gray-200 text-center fs-4 mb-lg-8">快速找尋您的投資標的</p>
        <div class="row ">
          <div class="col-12">
            <div class="row row-cols-lg-5 row-cols-md-2 row-cols-2 g-lg-3 g-1">
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-20.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>不限產業</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-1.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>批發/零售</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-2.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>生物科技</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-3.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>網際網路相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-4.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>文教相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-5.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>大眾傳播相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-6.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>旅遊/休閒/運動</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-7.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>一般服務</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-8.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>電子資訊/軟體/半導體相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-9.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>一般製造</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-10.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>物流/倉儲</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-11.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>政治宗教及社福相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-12.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>金融投顧/保險</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-13.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>法律/會計/顧問/研發</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-14.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>設計相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-15.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>建築營造/不動產相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-16.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>醫療保健/環境衛生</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-17.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>礦石及土石採取</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-18.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>住宿相關</h5>
                </a>
              </div>
              <div class="col">
                <a class="card industry-card border-0" href="#" style="background-image: url(/assets/images/Map-item-19.png);background-repeat: no-repeat; background-size: cover;">
                  <h5>餐飲</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 篩選後項目 -->
        <div class="container py-5">
          <div class="d-flex justify-content-between">
            <h2 class="fw-bold fs-4 text-start text-gray-200 col-6">選擇產業 ： 餐飲 / 一般服務</h2>
            <div class="navbar-expand-lg col-6 text-end">
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle rounded-0 border border-1 border-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    預設排序
                </button>
                <ul class="dropdown-menu ps-3" aria-labelledby="dropdownMenuButton">
                  <li><button class="dropdown-item" type="button"></button>預設排序</li>
                  <li><button class="dropdown-item" type="button"></button>依募資金額：高至低</li>
                  <li><button class="dropdown-item" type="button"></button>依募資金額：低至高</li>
                  <li><button class="dropdown-item" type="button"></button>依上架時間：新至舊</li>
                  <li><button class="dropdown-item" type="button"></button>依上架時間：舊至新</li>
                  <li><button class="dropdown-item" type="button"></button>依公司成立狀態：未設立</li>
                  <li><button class="dropdown-item" type="button"></button>依公司成立狀態：已設立</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- 1 -->
          <div class="card bg-gray-800 mt-8">
            <div class="d-flex justify-content-between project-title">              
                <div>
                  <a href="investor-information.html" class="text-white fs-3 fw-bold">謝阿金</a>
                </div>
                <div class="d-flex align-items-center">
                  <a href="#">
                    <i class="bi bi-heart text-light fs-5"></i>
                  </a>
                </div>
            </div>
            <div class="solid border-bottom border-gray-600"></div>
           <div class="row g-0 created-body">
             <div class="col-md-4 d-flex align-items-center justify-content-center px-5">
               <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded p-4" alt="謝阿金">
             </div>
             <div class="col-md-8">
              <!-- 電腦版開始 -->
              <div class="card-body created-form d-lg-block d-none">
                   <div class="d-flex pb-2">
                     <ul class="list-unstyled">
                       <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                       <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                      </ul>
                      <ul class="list-unstyled ps-12">
                        <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                        <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                      </ul>
                   </div>
                   <div class="d-flex">
                       <ul class="list-unstyled">
                        <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                        <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                          年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                        </ul>
                    </div>   
              </div>
              <!-- 電腦版結束 -->


              <!-- 手機版開始 -->
              <div class="card-body created-form d-lg-none d-block p-4">
                <div class="d-flex pb-2">
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                    <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                  </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-unstyled">
                      <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                      <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                        年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                    </ul>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                    <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                  </ul>
                </div>
              </div>
              <!-- 手機版結束 -->

             </div>
           </div>
          </div>

          <!-- 2 -->
          <div class="card bg-gray-800 mt-8">
            <div class="d-flex justify-content-between project-title">              
                <div>
                  <a href="investor-information.html" class="text-white fs-3 fw-bold">謝阿金</a>
                </div>
                <div class="d-flex align-items-center">
                  <a href="#">
                    <i class="bi bi-heart text-light fs-5"></i>
                  </a>
                </div>
            </div>
            <div class="solid border-bottom border-gray-600"></div>
           <div class="row g-0 created-body">
             <div class="col-md-4 d-flex align-items-center justify-content-center px-5">
               <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded p-4" alt="謝阿金">
             </div>
             <div class="col-md-8">
              <!-- 電腦版開始 -->
              <div class="card-body created-form d-lg-block d-none">
                   <div class="d-flex pb-2">
                     <ul class="list-unstyled">
                       <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                       <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                      </ul>
                      <ul class="list-unstyled ps-12">
                        <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                        <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                      </ul>
                   </div>
                   <div class="d-flex">
                       <ul class="list-unstyled">
                        <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                        <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                          年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                        </ul>
                    </div>   
              </div>
              <!-- 電腦版結束 -->


              <!-- 手機版開始 -->
              <div class="card-body created-form d-lg-none d-block p-4">
                <div class="d-flex pb-2">
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                    <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                  </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-unstyled">
                      <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                      <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                        年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                    </ul>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                    <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                  </ul>
                </div>
              </div>
              <!-- 手機版結束 -->

             </div>
           </div>
          </div>

          <!-- 3 -->
          <div class="card bg-gray-800 mt-8">
            <div class="d-flex justify-content-between project-title">              
                <div>
                  <a href="investor-information.html" class="text-white fs-3 fw-bold">謝阿金</a>
                </div>
                <div class="d-flex align-items-center">
                  <a href="#">
                    <i class="bi bi-heart text-light fs-5"></i>
                  </a>
                </div>
            </div>
            <div class="solid border-bottom border-gray-600"></div>
           <div class="row g-0 created-body">
             <div class="col-md-4 d-flex align-items-center justify-content-center px-5">
               <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded p-4" alt="謝阿金">
             </div>
             <div class="col-md-8">
              <!-- 電腦版開始 -->
              <div class="card-body created-form d-lg-block d-none">
                   <div class="d-flex pb-2">
                     <ul class="list-unstyled">
                       <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                       <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                      </ul>
                      <ul class="list-unstyled ps-12">
                        <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                        <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                      </ul>
                   </div>
                   <div class="d-flex">
                       <ul class="list-unstyled">
                        <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                        <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                          年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                        </ul>
                    </div>   
              </div>
              <!-- 電腦版結束 -->


              <!-- 手機版開始 -->
              <div class="card-body created-form d-lg-none d-block p-4">
                <div class="d-flex pb-2">
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                    <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                  </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-unstyled">
                      <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                      <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                        年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                    </ul>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                    <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                  </ul>
                </div>
              </div>
              <!-- 手機版結束 -->

             </div>
           </div>
          </div>

          <!-- 4 -->
          <div class="card bg-gray-800 mt-8">
            <div class="d-flex justify-content-between project-title">              
                <div>
                  <a href="investor-information.html" class="text-white fs-3 fw-bold">謝阿金</a>
                </div>
                <div class="d-flex align-items-center">
                  <a href="#">
                    <i class="bi bi-heart text-light fs-5"></i>
                  </a>
                </div>
            </div>
            <div class="solid border-bottom border-gray-600"></div>
           <div class="row g-0 created-body">
             <div class="col-md-4 d-flex align-items-center justify-content-center px-5">
               <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded p-4" alt="謝阿金">
             </div>
             <div class="col-md-8">
              <!-- 電腦版開始 -->
              <div class="card-body created-form d-lg-block d-none">
                   <div class="d-flex pb-2">
                     <ul class="list-unstyled">
                       <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                       <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                      </ul>
                      <ul class="list-unstyled ps-12">
                        <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                        <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                      </ul>
                   </div>
                   <div class="d-flex">
                       <ul class="list-unstyled">
                        <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                        <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                          年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                        </ul>
                    </div>   
              </div>
              <!-- 電腦版結束 -->


              <!-- 手機版開始 -->
              <div class="card-body created-form d-lg-none d-block p-4">
                <div class="d-flex pb-2">
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                    <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                  </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-unstyled">
                      <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                      <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                        年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                    </ul>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                    <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                  </ul>
                </div>
              </div>
              <!-- 手機版結束 -->

             </div>
           </div>
          </div>

          <!-- 5 -->
          <div class="card bg-gray-800 mt-8">
            <div class="d-flex justify-content-between project-title">              
                <div>
                  <a href="investor-information.html" class="text-white fs-3 fw-bold">謝阿金</a>
                </div>
                <div class="d-flex align-items-center">
                  <a href="#">
                    <i class="bi bi-heart text-light fs-5"></i>
                  </a>
                </div>
            </div>
            <div class="solid border-bottom border-gray-600"></div>
           <div class="row g-0 created-body">
             <div class="col-md-4 d-flex align-items-center justify-content-center px-5">
               <img src="/assets/images/海綿寶寶.png" class="img-fluid rounded p-4" alt="謝阿金">
             </div>
             <div class="col-md-8">
              <!-- 電腦版開始 -->
              <div class="card-body created-form d-lg-block d-none">
                   <div class="d-flex pb-2">
                     <ul class="list-unstyled">
                       <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                       <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                      </ul>
                      <ul class="list-unstyled ps-12">
                        <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                        <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                      </ul>
                   </div>
                   <div class="d-flex">
                       <ul class="list-unstyled">
                        <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                        <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                          年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                        </ul>
                    </div>   
              </div>
              <!-- 電腦版結束 -->


              <!-- 手機版開始 -->
              <div class="card-body created-form d-lg-none d-block p-4">
                <div class="d-flex pb-2">
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">偏好領域</li>
                    <li class="fs-5 text-primary-400 fw-bold">餐飲，一般服務，批發／零售</li>
                  </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-unstyled">
                      <li class="fs-5 text-gray-400 fw-bold">經歷</li>
                      <li class="fs-5 text-primary-400 fw-bold">我在一個貧困的家庭中長大。
                        年輕時參加過海軍,因此他的全名經常被縮寫為「謝船長」</li>
                    </ul>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="fs-5 text-gray-400 fw-bold">資金規模</li>
                    <li class="fs-2 text-primary-400 fw-bold">3,000,000</li>
                  </ul>
                </div>
              </div>
              <!-- 手機版結束 -->

             </div>
           </div>
          </div>
         

          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm pagination-bg-gray-1000 justify-content-center mt-4">
              <li class="page-item">
                <a class="page-link bg-transparent border-0 text-gray-400"><i class="bi bi-chevron-left"></i></a>
              </li>
              <li class="page-item active"><a class="page-link bg-transparent border-0 text-primary-400" href="#">1</a></li>
              <li class="page-item"><a class="page-link bg-transparent border-0 text-gray-400" href="#">2</a></li>
              <li class="page-item"><a class="page-link bg-transparent border-0 text-gray-400" href="#">3</a></li>
              <li class="page-item"><a class="page-link bg-transparent border-0 text-gray-400" href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </nav>

        </div>

  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

   <!-- Swiper JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

   <script>
     const swiper = new Swiper(".businessSwiper", {
       //一個畫面顯示幾個內容
       slidesPerView: 4,
       //每個內容之間的間隔為 16px
       spaceBetween: 16,
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
       breakpoints: {
        1296: {
       slidesPerView: 4, 
       slidesPerGroup: 1, 
       spaceBetween: 16 
       },
        768: {
       slidesPerView: 2, 
       slidesPerGroup: 1, 
       spaceBetween: 24 
       },
       375: {
        slidesPerView: 1.5, 
        slidesPerGroup: 1, 
        spaceBetween: 16 
       }
   }
     });
   </script>



    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</body>
</html>