<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
</head>

<body>
    <%- include('./layout/header'); -%>
  
<main class="bg-green py-15">
       <!-- 首頁>會員中心>個人資料 -->
        <section class="container pt-8">
             
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item text-white"><a href="/pages/index.html">首頁</a></li>
                      <i class="bi bi-caret-right-fill text-white"></i>
                      <li class="breadcrumb-item text-white"><a href="/pages/member/member.html">會員中心</a></li>
                      <i class="bi bi-caret-right-fill text-white"></i>
                      <li class="breadcrumb-item text-white fw-bold active" aria-current="page">個人資料</li>
                    </ol>
                </nav>
       

              <h2 class="text-primary-600 py-1 fw-bold border-bottom pb-8">會員中心</h2>
        </section>

<!-- 電腦板sidebar -->
<section class="container">
   <div class="row">
       <div class="col-lg-3 d-none d-lg-block">
         <%- include('./components/member-sidebar'); %>
        </div>

<div class="col-lg-9">
    <!-- 手機板sidebar -->
    <div class="d-block d-lg-none border-bottom">
                    <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                      <div class="d-flex text-gray-100 fs-5 p-1">
                      <img src="/assets/images/icons/sidebar.png" alt="sidebar">
                      <p class=" ps-1 fw-bold">個人資料</p>
                    </div>
                    </a>
                    <div class="offcanvas offcanvas-start bg-gray-1000 bg-opacity-75" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                      <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title text-primary-600 fw-bold fs-5" id="offcanvasExampleLabel">會員中心</h5>
                        <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <div class="d-flex flex-column  p-1 text-white bg-gray-1000 bg-opacity-75 sidemenu-link" >
                          <ul class="flex-column fw-bold list-unstyled">
                            <li class="nav-link text-gray-400 fs-5">我的帳戶</li>
                            <li><a href="member.html" class="nav-link text-primary-600 ps-1 lh-lg pt-1 " active>個人資料</a></li>
                            <li><a href="meber-identity.html" class="nav-link text-white  ps-1 lh-lg" >身份審核</a></li>
                            <li><a href="member-changepassword.html" class="nav-link text-white  ps-1 lh-lg" >修改密碼</a></li>
                            <li><a href="meber-points.html" class="nav-link text-white  ps-1 lh-lg">可用點數</a></li>
                            <li><a href="member-settings.html" class="nav-link text-white  ps-1 lh-lg pb-1">隱私設置</a></li>
                          </ul>
                            <ul class="flex-column fw-bold list-unstyled">
                              <li  class="nav-link text-gray-400 fs-5 pt-1">創業項目</li>
                              <li><a href="meber-newprojects.html" class="nav-link text-white  ps-1 lh-lg">新增創業項目</a></li>
                              <li><a href="meber-createdprojects.html" class="nav-link text-white  ps-1 lh-lg pb-1">已建創業項目</a></li>
                            </ul>
                      
                            <ul class="flex-column fw-bold list-unstyled">
                              <li class="nav-link text-gray-400 fs-5 pt-1">投資人</li>
                              <li><a href="meber-newinvestor.html" class="nav-link text-white  ps-1 lh-lg pb-1">建立/修改投資人資料</a></li>
                            </ul>
                      
                            <ul class="flex-column fw-bold list-unstyled">
                              <li class="nav-link text-gray-400 fs-5 pt-1">評價紀錄</li>
                              <li><a href="meber-evaluateProjects.html" class="nav-link text-white  ps-1 lh-lg">創業項目評價</a></li>
                              <li><a href="meber-evaluateInvestor.html" class="nav-link text-white  ps-1 lh-lg pb-1">投資人評價</a></li>
                            </ul>
                            <ul class="flex-column fw-bold list-unstyled">
                            <li class="nav-link text-gray-400 fs-5 pt-1">我的收藏</li>
                            <li><a href="meber-collectProjects.html" class="nav-link text-white  ps-1 lh-lg">創業項目收藏列表</a></li>
                            <li><a href="meber-collectInvestor.html" class="nav-link text-white ps-1 lh-lg pb-1">投資人收藏列表</a></li>
                          </ul>
                          <ul class="flex-column fw-bold list-unstyled">
                          <li class="nav-link text-gray-400 fs-5 pt-1">我的活動</li>
                          <li><a href="#" class="nav-link text-white  ps-1 lh-lg">已申請活動</a></li>
                          <li><a href="#" class="nav-link text-white  ps-1 lh-lg pb-1">活動紀錄</a></li>
                        </ul>
                      
                        <ul class="flex-column fw-bold list-unstyled">
                        <li class="nav-link text-gray-400 fs-5 pt-1">我的消息</li>
                        <li><a href="#" class="nav-link text-white  ps-1 lh-lg pb-1">站內消息</a></li>
                      </ul>
                        
                      <ul class="flex-column fw-bold list-unstyled">
                      <li class="nav-link text-gray-400 fs-5 pt-1">討論區</li>
                      <li><a href="#" class="nav-link text-white  ps-1 lh-lg">新增文章</a></li>
                      <li><a href="#" class="nav-link text-white  ps-1 lh-lg">發文列表</a></li>
                      <li><a href="#" class="nav-link text-white  ps-1 lh-lg pb-1">查看留言</a></li>
                      </ul>
                      </div> 
                      </div>
                    </div>
     </div>
          
            
  <!-- Form and avatar upload -->
    <div class="d-flex flex-lg-row flex-column mt-3">
      <div class=" d-block d-lg-none">
         <div id="custom-avatar-upload1" class="custom-upload-image mt-5 mt-md-0" style="width: 250px; height: 250px; border: 2px solid #ccc; cursor: pointer; background-image: url(/assets/images/頭像1.png); background-size: contain; background-position: center; background-repeat: no-repeat; position: relative;">
            <label for="avatar1" class="form-label text-white" style="position: absolute; top: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.5); padding: 5px; border-radius: 5px;">編輯頭像</label>
            <input class="form-control" type="file" id="avatar1" name="avatar" accept="image/*" style="display: none;">
            <img id="previewImage1" src="" alt="預覽圖片" style="width: 100%; height: 100%; display: none;">
        </div>
    </div>
      <form class="w-100 me-2">
          <div class="mb-3 row mt-lg-0 mt-3">
              <label for="useraccount" class="col-md-2  col-4 col-form-label text-white">使用者帳號:</label>
              <div class="col-md-10 col-8">
                  <input type="text" readonly class="form-control-plaintext text-white " id="useraccount" value="happy1234">
              </div>
          </div>

          <div class="mb-3 row">
              <label for="name" class="col-lg-2 col-form-label text-white">姓名:</label>
              <div class="col-lg-10">
                  <input type="text" class="form-control inputField" id="name" value="開開心">
              </div>
          </div>

          <div class="mb-3 row">
              <label for="email" class="col-lg-2 col-form-label text-white">電子郵箱:</label>
              <div class="col-lg-10">
                  <input type="email" class="form-control inputField" id="email" value="happy5678@gmail.com">
              </div>
          </div>

          <div class="mb-3 row">
              <label for="mobile" class="col-lg-2 col-form-label text-white">手機:</label>
              <div class="col-lg-10">
                  <input type="tel" class="form-control inputField" id="mobile" value="0912-131-456" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}">
              </div>
          </div>

          <div class="mb-3 row">
              <label class="col-lg-2 col-form-label text-white">性別:</label>
              <div class="col-lg-10 d-flex align-items-center">
                  <div class="form-check me-3">
                      <input class="form-check-input inputField" type="radio" name="gender" id="male" value="male" checked>
                      <label class="form-check-label text-white" for="male">男</label>
                  </div>
                  <div class="form-check me-3">
                      <input class="form-check-input inputField" type="radio" name="gender" id="female" value="female">
                      <label class="form-check-label text-white" for="female">女</label>
                  </div>
              </div>
          </div>
      </form>

      <!-- Upload avatar section -->
      <div class="d-none d-lg-block">
        <div id="custom-avatar-upload2" class="custom-upload-image mt-5 mt-md-0" style="width: 250px; height: 250px; border: 2px solid #ccc; cursor: pointer; background-image: url(/assets/images/頭像1.png); background-size: contain; background-position: center; background-repeat: no-repeat; position: relative;">
          <label for="avatar2" class="form-label text-white" style="position: absolute; top: 10px; right: 10px; background-color: rgba(0, 0, 0, 0.5); padding: 5px; border-radius: 5px;">編輯頭像</label>
          <input class="form-control" type="file" id="avatar2" name="avatar" accept="image/*" style="display: none;">
          <img id="previewImage2" src="" alt="預覽圖片" style="width: 100%; height: 100%; display: none;">
      </div>

      </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-around pt-8">
    <button   type="button"  class="btn btn-lg btn-outline-danger fw-bold" id="clearButton"><i class="bi bi-x-circle "></i> 清除
  </button>
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-store">
      <button class="btn btn-lg btn-outline-primary-600 fw-bold">
          <i class="bi bi-save "></i> 儲存變更
      </button>
  </a>
</div>
</div>
              

               


           </div>
        </section>
  <!-- modal 儲存變更 -->
  <div class="modal fade" id="exampleModal-store" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-gray-1000">
            <div class="modal-header border-0">
                <!-- <h5 class="modal-title text-primary-600" id="exampleModalLabel">林媽媽中式餐館</h5> -->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body text-center text-primary-600 fs-3 fw-bold">
               儲存成功
            </div>
            <div class="border-0 text-center mt-15 mb-14">
                <button type="button" class="btn btn-lg btn-primary-600 fw-bolder  px-9" data-bs-dismiss="modal" aria-label="Close">確認</button>
            </div>
          </div>
    </div>
</div>


   

   
    </main>

      <!-- 清除輸入文字 -->
    <script>
      document.getElementById('clearButton').addEventListener('click', function() {
      document.querySelectorAll('.inputField').forEach(function(input) {
       input.value = ''; 
     });
   });
     //圖片
     function setupUpload(avatarId, uploadId, previewImageId) {
    const avatar = document.getElementById(avatarId);
    const customUpload = document.getElementById(uploadId);
    const previewImage = document.getElementById(previewImageId);

    customUpload.addEventListener('click', function() {
        avatar.click();
    });

    avatar.addEventListener('change', function(event) {
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            previewImage.src = e.target.result;
            previewImage.style.display = 'block';
            customUpload.style.backgroundImage = 'none';
        };

        reader.readAsDataURL(file);
    });
}

    setupUpload('avatar1', 'custom-avatar-upload1', 'previewImage1');
    setupUpload('avatar2', 'custom-avatar-upload2', 'previewImage2');

     </script>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>