<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <%- include('./layout/header'); -%>
  <div class="bg-gray-1000">

      <!-- 熱門創業項目 -->
      <div class="container py-5 py-lg-15">
        <h2 class="fw-bold fs-1 text-center text-primary-600 mb-lg-8 py-lg-8">熱門創業項目</h2>
        <h2 class="fw-bold fs-1 text-center text-primary-600 mb-lg-8 py-lg-8">熱門創業項目</h2>
        <h2 class="fw-bold fs-1 text-center text-primary-600 mb-lg-8 py-lg-8">熱門創業項目</h2>

        <!-- Swiper -->
        <div class="swiper businessSwiper">
          <div class="swiper-wrapper pe-12">
            <!-- 1 -->
            <div class="business-swiper swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body position-relative">
                  <a href="#">
                    <img class="favorite" src="/assets/images/icons/heart.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/green-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">綠能創新股份有限公司</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">環保科技｜智慧設備</h5>
                  </div>
                  <p>
                    專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">NT$ 40,000000</p>
                </a>
              </div>
            </div>
            
            <!-- 2 -->
            <div class="swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body">
                  <a href="#">
                    <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/higger-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">林媽媽中式餐館</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">餐飲</h5>
                  </div>
                  <p>
                    我們中式餐館注重精緻的中國美食，結合中華傳統與創新，提供優質的用餐體驗
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">NT$ 800,000</p>
                </a>
              </div>
            </div>
            <!-- 3 -->
            <div class="swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body">
                  <a href="#">
                    <img class="favorite" src="/assets/images/icons/heart.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/checkmate-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">迅捷物流股份有限公司</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">物流運輸</h5>
                  </div>
                  <p>
                    提供高效物流與供應鏈管理服務，確保貨物快速安全抵達目的地
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">$ NT$ 20,000,000</p>
                </a>
              </div>
            </div>
            <!-- 4 -->
            <div class="swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body">
                  <a href="#">
                    <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/legally-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">尚品生活股份有限公司</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">電子商務</h5>
                  </div>
                  <p>
                    提供消費者多樣化的高品質產品，打造更加便捷愉快的購物體驗
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">NT$ 1,500,000</p>
                </a>
              </div>
            </div>
            <!-- 5 -->
            <div class="swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body">
                  <a href="#"></a>
                  <img class="favorite" src="/assets/images/icons/heart.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/green-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">綠能創新股份有限公司</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">環保科技｜智慧設備</h5>
                  </div>
                  <p>
                    專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">$ 40,000000 NTD</p>
                </a>
              </div>
            </div>
            <!-- 6 -->
            <div class="swiper-slide">
              <div class="card popular-card text-center h-100">
                <div class="popular-card-body">
                  <a href="#">
                    <img class="favorite" src="/assets/images/icons/heart-outline.png" alt="heart">
                  </a>
                  <img class="company-logo mb-3" src="/assets/images/logo/green-logo.png" alt="green-logo">
                  <h4 class="mb-3 popular-card-title text-ellipsis text-primary-600">綠能創新股份有限公司</h4>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <h5 class="fs-5 me-2 text-gray-200">環保科技｜智慧設備</h5>
                  </div>
                  <p>
                    專注於開發可持續能源解決方案,致力於減少碳足跡並推動清潔能源的使用。
                  </p>
                </div>
                <a href="#" class="btn btn-gray-600 py-3">
                  <p class="fs-5">資金規模</p>
                  <p class="fs-5 fw-bold text-white">$ 40,000000 NTD</p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <!-- 篩選產業 -->
        <div class="container py-lg-15">
          <h2 class="fw-bold fs-1 text-center text-primary-600 mb-lg-8 py-lg-8">篩選產業</h2>
          <div class="row">
            <div class="col-12">
              <div class="row g-3">
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-20.png);">
                    <h5>不限產業</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-1.png);">
                    <h5>批發/零售</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-2.png);">
                    <h5>生物科技</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-3.png);">
                    <h5>網際網路相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-4.png);">
                    <h5>文教相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-5.png);">
                    <h5>大眾傳播相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-6.png);">
                    <h5>旅遊/休閒/運動</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-7.png);">
                    <h5>一般服務</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-8.png);">
                    <h5>電子資訊/軟體/半導體相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-9.png);">
                    <h5>一般製造</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-10.png);">
                    <h5>物流/倉儲</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-11.png);">
                    <h5>政治宗教及社福相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-12.png);">
                    <h5>金融投顧/保險</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-13.png);">
                    <h5>法律/會計/顧問/研發</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-14.png);">
                    <h5>設計相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-15.png);">
                    <h5>建築營造/不動產相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-16.png);">
                    <h5>醫療保健/環境衛生</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-17.png);">
                    <h5>礦石及土石採取</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-18.png);">
                    <h5>住宿相關</h5>
                  </a>
                </div>
                <div class="col-lg-3">
                  <a class="card industry-card" href="#" style="background-image: url(/assets/images/Map-item-19.png);">
                    <h5>餐飲</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- 篩選後項目 -->
        <div class="container py-5">
          <div class="d-flex justify-content-between  py-lg-8">
            <div class="col-3"></div>
            <h2 class="fw-bold  mb-5 text-center text-primary-600 col-6">餐飲 / 一般服務</h2>
            <div class="navbar-expand-lg col-3 text-end">
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle rounded-0 border border-1 border-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    預設排序
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><button class="dropdown-item" type="button"></button>預設排序</li>
                  <li><button class="dropdown-item" type="button"></button>依募資金額：高至低</li>
                  <li><button class="dropdown-item" type="button"></button>依募資金額：低至高</li>
                  <li><button class="dropdown-item" type="button"></button>依上架時間：新至舊</li>
                  <li><button class="dropdown-item" type="button"></button>依上架時間：舊至新</li>
                  <li><button class="dropdown-item" type="button"></button>依公司成立狀態：未設立</li>
                  <li><button class="dropdown-item" type="button"></button>依公司成立狀態：已設立</li>
                </ul>
              </div>
            </div>
          </div>
            <div class="card mb-3 bg-gray-800">
                <div class="row g-0 d-flex">
                  <div class="col-3 d-flex justify-content-center align-items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                  </div>
                  <div class="col-7">
                    <div class="card-body">
                      <a href="Project-introduction.html" class="fs-2 text-primary-600 fw-bold m-1">Fresh Master Food Co., Ltd.</a>
                      <div class="d-flex">
                        <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                        <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                      </div>
                      <p class="m-1">我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                      <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                      <p class="m-1 fs-6 text-gray-400">2024/7/25</p>
                    </div>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <i class="bi bi-heart fs-3 text-light"></i>
                  </div>
                </div>
            </div>
            <div class="card mb-3 bg-gray-800">
              <div class="row g-0 d-flex">
                <div class="col-3 d-flex justify-content-center align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <a href="Project-introduction.html" class="fs-2 text-primary-600 fw-bold m-1">Fresh Master Food Co., Ltd.</a>
                    <div class="d-flex">
                      <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                      <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                    </div>
                    <p class="m-1">我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                    <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                    <p class="m-1 fs-6 text-gray-400">2024/7/25</p>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                  <i class="bi bi-heart fs-3 text-light"></i>
                </div>
              </div>
            </div>
            <div class="card mb-3 bg-gray-800">
              <div class="row g-0 d-flex">
                <div class="col-3 d-flex justify-content-center align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <a href="Project-introduction.html" class="fs-2 text-primary-600 fw-bold m-1">Fresh Master Food Co., Ltd.</a>
                    <div class="d-flex">
                      <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                      <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                    </div>
                    <p class="m-1">我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                    <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                    <p class="m-1 fs-6 text-gray-400">2024/7/25</p>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                  <i class="bi bi-heart fs-3 text-light"></i>
                </div>
              </div>
            </div>
            <div class="card mb-3 bg-gray-800">
              <div class="row g-0 d-flex">
                <div class="col-3 d-flex justify-content-center align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <a href="Project-introduction.html" class="fs-2 text-primary-600 fw-bold m-1">Fresh Master Food Co., Ltd.</a>
                    <div class="d-flex">
                      <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                      <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                    </div>
                    <p class="m-1">我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                    <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                    <p class="m-1 fs-6 text-gray-400">2024/7/25</p>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                  <i class="bi bi-heart fs-3 text-light"></i>
                </div>
              </div>
            </div>
            <div class="card mb-3 bg-gray-800">
              <div class="row g-0 d-flex">
                <div class="col-3 d-flex justify-content-center align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&s" class="img-fluid rounded" alt="logo">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <a href="Project-introduction.html" class="fs-2 text-primary-600 fw-bold m-1">Fresh Master Food Co., Ltd.</a>
                    <div class="d-flex">
                      <h5 class="fs-5 text-light m-1">公司成立狀態：未設立</h5>
                      <h5 class="fs-5 text-light m-1">產業分類：餐飲</h5>
                    </div>
                    <p class="m-1">我們中式餐館注重精緻的中國美食,結合中華傳統與創新,提供優質的用餐體驗</p>
                    <h1 class="fs-1 m-1 text-light">募資金額：50,000,000</h1>
                    <p class="m-1 fs-6 text-gray-400">2024/7/25</p>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                  <i class="bi bi-heart fs-3 text-light"></i>
                </div>
              </div>
            </div>

        </div>

  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".businessSwiper", {
      //一個畫面顯示幾個內容
      slidesPerView: 4,
      //每個內容之間的間隔為 16px
      spaceBetween: 16,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>



    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</body>
</html>