<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
  
    
    <div class="bg-green">
        <%- include('./components/Project-information'); -%>
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p class="pb-5 fs-2 text-primary-600 text-center d-lg-none d-block">團隊</p>
                    <p class="pb-15"> 
                        創始人及經營者：<br>
                        林小姐：擁有十年以上的餐飲業經驗，曾在多家知名餐廳擔任高級管理職位。憑藉對中國菜文化的深刻理解和熱愛，致力於打造正宗的中華風味餐廳。<br><br>
                        廚藝團隊：<br>
                        主廚 李師傅：來自廣東，擁有豐富的粤菜烹飪經驗，精通粤式烹調技巧，對於食材選擇和烹調方法有獨到見解。
                        副廚 王師傅：專攻川菜，擅長於麻辣風味的川菜烹調，有多年的川菜廚藝經驗，保證每道川菜的正宗口味。<br><br>
                        前台服務團隊：<br>
                        客戶服務經理 陳先生：負責協調和管理前台服務，具有良好的溝通能力和顧客服務經驗，確保每位顧客都能享受到優質的用餐體驗。<br><br>
                        後勤及行政支持：<br>
                        行政總監 張小姐：負責餐廳的日常運營和行政管理，擁有出色的組織能力和管理技巧，確保餐廳運作高效且符合標準。
                    </p> 
                </div>
            </div>        
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>


</body>
</html>