<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
  
    <%- include('./components/Investor-information'); -%>
    <div class="bg-gray-1000">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p class="pb-15"> 
                        人脈和關係網<br>
                        本人在比奇堡擁有廣泛的人脈和關係網,從食材供應商乃至設備廠商，
                        這些資源對於生意發展和問題解決至關重要。<br><br>
                        
                        創新能力<br>
                        本人能夠適應市場變化,發想新的產品和促銷活動,以滿足顧客需求並吸引新顧客。
                    </p> 
                </div>
            </div>        
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>


</body>
</html>