<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
  
    <%- include('./components/Investor-information'); -%>
    <div class="bg-gray-1000">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p class="pb-15"> 
                        開辦蟹堡王餐廳。<br>
                        現任蟹堡王餐廳老闆，至今約20餘年<br>
                        具備豐富企業營運管理、商業開發等專業經驗,
                    </p> 
                </div>
            </div>        
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/main.js"></script>


</body>
</html>